{% extends 'lib_man/components/portal.html' %}
    
{% block portal %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Book Title</th>
            <th scope="col">Book Author</th>
            <th scope="col">ISBN number</th>
            <th scope="col">Publishing House</th>
            <th scope="col">Genre</th>
            <th scope="col">Book Location</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>123</td>
            <td>Some good house</td>
            <td>Action</td>
            <td>#B423</td>
            <td>
                <span class="borrowed text-secondary">
                    Borrowed
                </span>
                <span class="available text-success">
                    Available
                </span>
            </td>
            <td>
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="width: 4vw;">Edit</button>
                <button type="button" class="btn btn-danger" style="width: 4vw;">Delete</button>
            </td>
        </tr>
    </tbody>
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Edit Book</h5>
                </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="title" class="form-label">Book Title</label>
                    <input type="text" class="form-control" id="title" aria-describedby="title">
                </div>
                <div class="mb-3">
                    <label for="author" class="form-label">Book Author</label>
                    <input type="text" class="form-control" id="author" aria-describedby="author">
                </div>
                <div class="mb-3">
                    <label for="ISBNno" class="form-label">ISBN Number</label>
                    <input type="text" class="form-control" id="ISBNno" aria-describedby="ISBNno">
                </div>
                <div class="mb-3">
                    <label for="pubHouse" class="form-label">Publishing House</label>
                    <input type="text" class="form-control" id="pubHouse" aria-describedby="pubHouse">
                </div>
                <div class="mb-3">
                    <label for="genre" class="form-label">Genre</label>
                    <input type="text" class="form-control" id="genre" aria-describedby="genre">
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Book Location</label>
                    <input type="text" class="form-control" id="location" aria-describedby="location">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="status_borrowed">
                    <label class="form-check-label" for="status_borrowed">The book is borrowed</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Discard Changes</button>
                <button type="button" class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
  </div>
</table>
{% endblock %}