{% extends 'lib_man/components/portal.html' %}

{% block portal %}

<form action='{% url "search_borrowers" %}' method="POST">
    {% csrf_token %}
    <div class="d-inline-flex w-100 mb-5 pe-10 justify-content-between">
        <div class="input-group" style="width: 80%;">
            {{ search_borrowers_form.keyword }}
            <div class="input-group-append me-4">
                <input type="submit" class="input-group-text" id="basic-addon2"value="Search">
            </div>
            {{ search_borrowers_form.search_by }}
        </div>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addBorrower">Add Borrower</button>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Admission Number</th>
            <th scope="col">Grade</th>
            <th scope="col">Section</th>
            <th scope="col">Roll Number</th>
            <th scope="col">Contact Number</th>
            <th scope="col">Book Borrowed</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        

    
        {% for borrower in borrowers %}
        <tr>
            <th>{{ forloop.counter }}</th>
            <td id="name{{ forloop.counter }}">{{ borrower.name }}</td>
            <td id="adm_no{{ forloop.counter }}">{{ borrower.adm_no }}</td>
            <td id="grade{{ forloop.counter }}">{{borrower.grade}}</td>
            <td id="section{{ forloop.counter }}">{{ borrower.section }}</td>
            <td id="roll_no{{ forloop.counter }}">{{ borrower.roll_no}}</td>
            <td id="contact_no{{ forloop.counter }}">{{ borrower.contact_no }}</td>
            <td id="book_borrowed{{ forloop.counter }}">{{ borrower.book_borrowed }}</td>
                
            </td>
            {% autoescape on %}

            <td style=" display: grid; grid-template-columns: repeat(2, 50%); grid-gap: 2%;">
                <button type="button" class="btn btn-success" data-bs-toggle="modal" 
                    data-bs-target="#editBorrower"
                    onclick="editBorrowerHandler('{{ forloop.counter }}', '{{ borrower.pk }}', '{{ borrower.book_borrowed.pk }}')">Edit</button>
                <button type="button" class="btn btn-danger"data-bs-toggle="modal" 
                    data-bs-target="#deleteBorrower"
                    onclick="deleteBorrowerHandler('{{ forloop.counter }}', '{{ borrower.pk }}')">Delete</button>
            </td>
            {% endautoescape %}

        </tr>
        {% empty %}
        <tr>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td style="display: flex; justify-content: center; align-items: center;">
                No Results Found
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {% endfor %}
    </tbody>
    <div class="modal fade" id="editBorrower" data-bs-backdrop="static" data-bs-keyboard = "false" tabindex="-1" aria-labelledby="editBorrowerLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
            <form method="POST" action="{% url 'edit_borrower' %}">
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editBorrowerLabel">Edit Borrower</h5>
                    </div>
                    <div class="modal-body">
                        {{ edit_borrower_form.pk }}
                        <div class="mb-3">
                            <label for="nameEdit" class="form-label">Name</label>
                            {{ edit_borrower_form.name }}
                        </div>
                        <div class="mb-3">
                            <label for="bookBorrowedEdit" class="form-label">Book Borrowed</label>
                            {{ edit_borrower_form.book_borrowed }}
                            {{ edit_borrower_form.book_pk }}
                            <ul id="dynamicSearchList" class="list-group list-group-flush" style="display: none;list-style: none; overflow-y: scroll; max-height: 20vh;">
                                {% for book in books %}

                                <li><a href="#" class="list-group-item" onclick="insertContent('{{ book.title }}'); document.getElementById('bookPrimaryKeyEdit').value = '{{ book.pk }}' ">{{ book.title }}</a></li>
                        
                                {% endfor %}
            
                            </ul>                        
                        </div>
                        <div class="mb-3">         
                            <label for="gradeEdit" class="form-label">Grade</label>
                            {{ edit_borrower_form.grade }}                        
                        </div>
                        <div class="mb-3">
                            <label for="sectionEdit" class="form-label">Section</label>
                            {{ edit_borrower_form.section }}                       
                        </div>
                        <div class="mb-3">
                            <label class="form-check-label" for="rollEdit">Roll Number</label>
                            {{ edit_borrower_form.roll_no}}                        
                        </div>
                        <div class="mb-3">
                            <label class="form-check-label" for="contactEdit">Contact Number</label>
                            {{ edit_borrower_form.contact_no}}                        
                        </div>
                        <div class="mb-3">
                            <label class="form-check-label" for="admEdit">Admission Number</label>
                            {{ edit_borrower_form.adm_no}}                        
                        </div>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Discard Changes</button>
                        <input type="submit" class="btn btn-primary" value="Update">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal fade" id="deleteBorrower" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteBorrowerLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
            <form method="POST" action="{% url 'delete_borrower' %}">
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteBorrowerLabel">Delete Borrower</h5>
                    </div>
                    <div class="modal-body">
                        {{ delete_borrower_form.pk }}
                        <div class="container-fluid fs-5">
                            <div class="row mb-2">
                              <div class="col">Name</div>
                              <div class="col-1">:</div>
                              <div class="col fw-bold" id="nameDel"></div>
                            </div>
                            <div class="row mb-2">
                                <div class="col">Admission Number</div>
                                <div class="col-1">:</div>
                                <div class="col fw-bold" id="admnoDel"></div>
                            </div>
                            <div class="row mb-2">
                                <div class="col">Grade</div>
                                <div class="col-1">:</div>
                                <div class="col fw-bold" id="gradeDel"></div>
                            </div>
                            <div class="row mb-2">
                                <div class="col">Section</div>
                                <div class="col-1">:</div>
                                <div class="col fw-bold" id="sectionDel"></div>
                            </div>
                            
                            <div class="row mb-2">
                                <div class="col">Book Borrowed</div>
                                <div class="col-1">:</div>
                                <div class="col fw-bold" id="bookBorrowedDel"></div>
                            </div>

                            <div class="row mb-2">
                                <div class="col">Contact Number</div>
                                <div class="col-1">:</div>
                                <div class="col fw-bold" id="contactDel"></div>
                            </div>
                            
                          </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Revert</button>
                        <input type="submit" class="btn btn-danger" value="Delete">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal fade" id="addBorrower" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addBorrowerLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
            <form method="POST" action="{% url 'add_borrower' %}">
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addBorrowerLabel">Add Borrower</h5>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="nameAdd" class="form-label">Name</label>
                            {{ add_borrower_form.name }}
                        </div>
                        <div class="mb-3">
                            <label for="bookBorrowedAdd" class="form-label">Book Borrowed</label>
                            
                            {{ add_borrower_form.book_borrowed }}
                            {{ add_borrower_form.book_pk }}
                            
                            
                            <ul id="dynamicSearchListForAdd" class="list-group list-group-flush" style="display: none;list-style: none; overflow-y: scroll; max-height: 20vh;">
                                {% for book in books %}

                                <li><a href="#" class="list-group-item" onclick="insertContentForAdd('{{ book.title }}'); document.getElementById('bookPrimaryKeyAdd').value = '{{ book.pk }}' ">{{ book.title }}</a></li>
                        
                                {% endfor %}
            
                            </ul>          
                        </div>
                        <div class="mb-3">         
                            <label for="admAdd" class="form-label">Admission Number</label>
                            {{ add_borrower_form.adm_no }}                        
                        </div>
                        <div class="mb-3">         
                            <label for="gradeAdd" class="form-label">Grade</label>
                            {{ add_borrower_form.grade }}                        
                        </div>
                        <div class="mb-3">
                            <label for="sectionAdd" class="form-label">Section</label>
                            {{ add_borrower_form.section }}                       
                        </div>
                        <div class="mb-3">
                            <label class="form-check-label" for="rollAdd">Roll Number</label>
                            {{ add_borrower_form.roll_no}}                        
                        </div>
                        <div class="mb-3">
                            <label class="form-check-label" for="contactAdd">Contact Number</label>
                            {{ add_borrower_form.contact_no}}                        
                        </div>
                        <div class="mb-3">
                            <label class="form-check-label" for="dateBorrowedAdd">Date Borrowed</label>
                            {{ add_borrower_form.date_borrowed}}                        
                        </div>
                        <div class="mb-3">
                            <label class="form-check-label" for="dateDue">Date Due</label>
                            {{ add_borrower_form.date_due}}                        
                        </div>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Exit</button>
                        <input type="submit" class="btn btn-primary" value="Add">
                    </div>
                </div>
            </form>
        </div>
    </div>
</table>
<script>

    const dateToday = () => {
        let today = new Date();
        let dd = String(today.getDate()).padStart(2, '0');
        let mm = String(today.getMonth() + 1).padStart(2, '0'); 
        let yyyy = today.getFullYear();
        today = mm + '/' + dd + '/' + yyyy;
        return today;
        
    }
    const displaySearchElems = () => {
        document.getElementById("dynamicSearchList").style.display = "block";
    }
    const displaySearchElemsForAdd = () => {
        document.getElementById("dynamicSearchListForAdd").style.display = "block";
    }
    const insertContent = x => {
        document.getElementById("bookBorrowedEdit").value = x;
        document.getElementById("dynamicSearchList").style.display = "none";
    }
    const insertContentForAdd = x => {
        document.getElementById("bookBorrowedAdd").value = x;
        document.getElementById("dynamicSearchListForAdd").style.display = "none";
    }
    const dynamicSearch = () => {
        let input, filter, ul, li, a, i, txtValue;
        input = document.getElementById("bookBorrowedEdit");
        filter = input.value.toUpperCase();
        ul = document.getElementById("dynamicSearchList");
        li = ul.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }
    const dynamicSearchForAdd = () => {
        let input, filter, ul, li, a, i, txtValue;
        input = document.getElementById("bookBorrowedAdd");
        filter = input.value.toUpperCase();
        ul = document.getElementById("dynamicSearchListForAdd");
        li = ul.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }
    const editBorrowerHandler = (rowNum, id, bookId) => {
    
        document.getElementById('primaryKeyEdit').value = id;
        document.getElementById('sectionEdit').value = document.getElementById('section'+rowNum).innerHTML;
        document.getElementById('admEdit').value = document.getElementById('adm_no'+rowNum).innerHTML;
        document.getElementById('gradeEdit').value = document.getElementById('grade'+rowNum).innerHTML;
        document.getElementById('rollEdit').value = document.getElementById('roll_no'+rowNum).innerHTML;
        document.getElementById('contactEdit').value = document.getElementById('contact_no'+rowNum).innerHTML;
        document.getElementById('bookBorrowedEdit').value = document.getElementById('book_borrowed'+rowNum).innerHTML;
        document.getElementById('nameEdit').value = document.getElementById('name'+rowNum).innerHTML;
        document.getElementById('bookPrimaryKeyEdit').value = bookId;
        
        }
    const deleteBorrowerHandler = (rowNum, id) => {
        document.getElementById('primaryKeyDel').value = id
        document.getElementById('nameDel').innerHTML = document.getElementById('name'+rowNum).innerHTML
        document.getElementById('admnoDel').innerHTML = document.getElementById('adm_no'+rowNum).innerHTML
        document.getElementById('sectionDel').innerHTML = document.getElementById('section'+rowNum).innerHTML
        document.getElementById('gradeDel').innerHTML = document.getElementById('grade'+rowNum).innerHTML
        document.getElementById('bookBorrowedDel').innerHTML = document.getElementById('book_borrowed'+rowNum).innerHTML
        document.getElementById('contactDel').innerHTML = document.getElementById('contact_no'+rowNum).innerHTML
        
    }

</script>            


<script src="https://cdn.jsdelivr.net/npm/underscore@1.13.1/underscore-umd-min.js"></script>
{% endblock %}
