{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Admin</title>
    <link rel="stylesheet" defer href="{% static 'lib_man/bootstrap-5.0.1-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib_man/css/style.css' %}">
    <script defer src="{% static 'lib_man/bootstrap-5.0.1-dist/js/bootstrap.bundle.min.js' %}"></script>
</head>
<body class="bg-light container-fluid p-0" style="width: 100vw; height: 100vh; max-width: 100vw; max-height: 100vh;">
{% block headerAndFooter %}
{% endblock %}
</body>
</html>