{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Search</title>
    <link rel="stylesheet" defer href="{% static 'lib_man/bootstrap-5.0.1-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib_man/css/login.css' %}">
    <script defer src="{% static 'lib_man/bootstrap-5.0.1-dist/js/bootstrap.bundle.min.js' %}"></script>
</head>
<body class="bg-light container-fluid">
    <div class="input-group mt-5 mb-5 w-50 mx-auto">
        <input type="text" class="form-control" placeholder="Search" aria-label="Search"aria-describedby="basic-addon2" autofocus tabindex="1">
        <div class="input-group-append">
            <span class="input-group-text" style="cursor: no-drop;" id="basic-addon2">Search</span>
        </div>
    </div>
    <div class="cards mx-5">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Book name</h5> <!-- ! Change the book name to the real book name using js-->
                <h6 class="card-subtitle mb-2 text-muted">Author: <span>Author name</span></h6>
                <p>
                    Genre: <span>Genre</span>
                    <br />
                    Borrowed: <span>yes/no</span>
                    <br />
                    Book location: <span>location</span>
                </p>
                <!-- ! Change the respective fields in the span tags from JS --> 
            </div>
          </div>
    </div>
</body>
</html>