{% extends 'lib_man/components/headerAndFooter.html' %}
    
{% block headerAndFooter %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm"></div>
            <div class="col-sm mainDiv">
                <form action="{% url 'librarian_login' %}" method="GET">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="username" class="form-label">Username:</label>
                        {{ login_form.username }}
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password:</label>
                        {{ login_form.password }}
                    </div>
                    <input type="submit" class="btn btn-primary w-100" value="Login">
                </form>
            </div>
            <div class="col-sm"></div>
            <div class="col-sm"></div>
        </div>
    </div>

{% endblock %}